.btn {
  border: none;
  font-family: inherit;
  color: var(--white-txt-cl);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: var(--accent-cl-btn);
  }

  &__footer-form {
    position: relative;
    margin-left: 12px;

    display: inline-flex;
    align-items: center;

    width: 200px;
    height: 50px;
    padding: 10px 28px;
    border-radius: 4px;
  }

  &-svg {
    position: absolute;
    right: 28px;
    fill: var(--bg-cl-icon);
  }
  &__form-register {
    display: block;
    margin: 0 auto;
    padding: 0;

    width: 200px;
    height: 50px;

    border: transparent;

    align-items: center;
    text-align: center;
  }
}
