.backdrop {
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  left: 0;
  top: 0;

  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus > .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* форма в модальному вікні */

.form-register-title {
  display: block;
  margin-bottom: 12px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--main-blac-cl);
}

.form-register-group {
  display: block;
  margin-bottom: 20px;
}

.form-register-field:last-child {
  margin-bottom: 20px;
}

.form-register-field {
  position: relative;

  display: block;
  margin-bottom: 10px;
}

.register-text {
  display: block;
  margin-bottom: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--main-tx-par);
}

.form-register-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-register-input:focus {
  border-color: var(--accent-color);
}

.form-register-input:focus + .form-register-icon {
  fill: var(--accent-color);
}

.form-register-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  color: var(--main-blac-cl);
}

.form-register-message {
  display: block;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-style: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-register-message:focus {
  border-color: var(--accent-color);
}

.form-register-message::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form-register-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-text {
  font-family: inherit;

  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--main-tx-par);
}

.form-register-link {
  color: var(--accent-color);
}

.form-register-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  content: ' ';
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-register-checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icons.svg/check.svg);
  background-size: contain;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-text {
  margin-left: 8px;
}

.form-register-link {
  color: var(--accent-color);
}
