:root {
  --main-blac-cl: #000000;
  --main-tx-cl: #212121;
  --main-tx-par: #757575;
  --main-bg-cl: #ffffff;
  --accent-color: #2196f3;
  --accent-cl-btn: #188ce8;
  --white-txt-cl: #ffffff;
  --footer-bg-cl: #2f303a;
  --baner-cl: #2f303a;
  --cl-txt-ft: rgba(255, 255, 255, 0.6);
  --bg-cl-btn: #f5f4fa;
  --bg-cl-work-a: rgba(47, 48, 58, 0.8);
  --bg-cl-soc-link: #188ce8;

  --items: 3;
  --indent: 30px;
  --border-portfolio: 1px solid #eeeeee;

  --items-team: 4;
  --indent-team: 30px;

  --icon-color: #afb1b8;

  --bg-cl-icon: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --supporting-font: 'Raleway', sans-serif;
}
