.address {
  margin-top: 20px;
  margin-right: 70px;
  font-family: var(--main-font);

  &__item {
    margin-bottom: 9px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__link {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--white-txt-cl);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  &__link_cl {
    color: var(--cl-txt-ft);
  }
}
