.customers {
  &__title {
    font-family: inherit;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    color: var(--main-tx-cl);

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(42 / 36);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 30px * 5) / 6);
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__item {
    display: flex;
    width: 210px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cl-icon);
    border-radius: 4px;
    fill: var(--cl-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__item:hover,
  &__item:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }

  &__icons {
    width: 106px;
    height: 60px;
  }
}
