.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }
  &__group {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--main-tx-par);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
