.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio__link {
  display: block;
  transform: scale(1, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__popup {
  position: relative;
  display: block;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio-preview {
  padding: 20px 24px;
  border-right: var(--border-portfolio);
  border-bottom: var(--border-portfolio);
  border-left: var(--border-portfolio);

  &__title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-tx-cl);
    margin-bottom: 4px;
  }

  &__text {
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--main-tx-par);
  }
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-txt-cl);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
