.team {
  background-color: var(--bg-cl-btn);
  padding-top: 94px;

  &__title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    color: var(--main-tx-cl);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__names {
    background-color: var(--main-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 30px;
  }

  &__member {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--main-tx-cl);
    margin-bottom: 10px;
  }
  &__specialization {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    color: var(--main-tx-par);
  }
}
